* {
	margin: 0;
	padding: 0;
	box-sizing: border-box;
}

body {
	height: 100vh;
	width: 100vw;
	display: flex;
	justify-content: center;
	align-items: center;
	background-color: black;
}

.ping-pong-section {
	position: relative;
	width: 100%;
	height: 60%;
	max-width: 500px;
	border-radius: 25px;
	padding: 10px;
	background-color: #b9af9b;
	box-shadow: -1px -1px 8px 0px #b9af9b;
}

.hero-img {
	position: relative;
	height: 60%;
	background-image: url("./img/pingpong.jpg");
	background-size: cover;
	background-position: bottom;
	z-index: 1;
	display: flex;
	justify-content: center;
	align-items: flex-end;
	border-radius: 20px;
	overflow: hidden;
}

.hero-shadow {
	position: absolute;
	width: 100%;
	height: 100%;
	background-color: rgba(0, 0, 0, 0.2);
	z-index: -2;
}

.hero-text {
	margin-bottom: 1.5em;
	z-index: 2;
	color: antiquewhite;
}

.scores {
	background-color: #b9af9b;
	height: 40%;
	display: flex;
	flex-direction: column;
	justify-content: space-between;
	align-items: center;
}

.playing-to {
	margin-top: 2em;
}

.playing-to label {
	font-weight: bold;
}

.scores p:nth-of-type(1) {
    font-size: 2rem;
}

.buttons-container {
	width: 100%;
	display: flex;
	justify-content: space-evenly;
}

button {
	width: 32%;
	height: 40px;
	border-radius: 10px;
	border: none;
	color: white;
	font-weight: bold;
}

.player1 {
	background-color: #377bcf;
}

.player2 {
	background-color: #c53333;
}

.reset {
	background-color: white;
	border: 2px solid #c53333;
	color: red;
}
